.container
{
   text-align: center;
   margin: 23px;
}
.heading
{
    text-align: center;
    margin: 27px 280px;

}
table{
    margin: auto;
}
input{
    border:2.4px solid black;
    border-radius: 20px;
    width: 634px;
    height: 20px;
    font-size: 24px;
    padding: 12px;
    margin: 12px;
    outline: none;
}
button{
    font-size: 24px;
    display: flex;
    width:102px;
    height:40px;
    margin:2px;
    border-radius: 0.35em;
}
button:hover
{
    background-color: rgb(165, 190, 190);
}
.calculator{
    border:4px solid black;
    padding: 20px;
    display: inline-block;
    background-color: gray;
   
}
h1{
    width:735px;
    text-align: center;
    background-color: rgb(157, 255, 0);
    border-radius: 1.5em;
    border: 4px solid black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
@media only screen and (max-width:300px)
{
    body
    {
        background-color: rgb(240, 60, 144);
    }
    h1{
        width:480px;
        font-size: larger;
        background-color: rgb(157, 255, 0);
        border-radius: 1.5em;
        border: 4px solid black;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    
    .heading
    {
    text-align: center;
    margin: 27px 40px;

    }
    .calculator{
        border-radius: 2em;
        border:4px solid black;
        padding: 10px;
        display: inline-block;
        background-color: gray;
       
    }
    input{
        border:2.4px solid black;
        border-radius: 20px;
        width: 400px;
        height: 20px;
        font-size: 20px;
        padding: 12px;
        margin: 11px;
        outline: none;
    }
    button{
        font-size: 20px;
        display: flex;
        width:65px;
        height:30px;
        margin:2px;
        border-radius: 0.35em;
    }
}
@media only screen and (min-width:300px) and (max-width:500px)
{
    body
    {
        background-color: rgb(235, 203, 26);
    }
    h1{
        width:300px;
        font-size: larger;
        background-color: rgb(157, 255, 0);
        border-radius: 1.5em;
        border: 4px solid black;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    
    .heading
    {
    text-align: center;
    margin: 27px 30px;

    }
    .calculator{
        border-radius: 2em;
        border:4px solid black;
        padding: 8px;
        display: inline-block;
        background-color: gray;
       
    }
    input{
        border:2.4px solid black;
        border-radius: 20px;
        width: 300px;
        height: 20px;
        font-size: 20px;
        padding: 12px;
        margin: 11px;
        outline: none;
    }
    button{
        font-size: 20px;
        display: flex;
        width:60px;
        height:27px;
        margin:2px;
        padding: 0.1em;
        border-radius: 0.35em;
    }
    .sin
    {
        display: none;
    }
}
@media (min-width:500px) and (max-width:800px)
{
    body
    {
        background-color: rgb(206, 70, 70);
    }
    h1{
        width:480px;
        font-size: larger;
        background-color: rgb(157, 255, 0);
        border-radius: 1.5em;
        border: 4px solid black;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    
    .heading
    {
    text-align: center;
    margin: 27px 40px;

    }
    .calculator{
        border-radius: 2em;
        border:4px solid black;
        padding: 10px;
        display: inline-block;
        background-color: gray;
       
    }
    input{
        border:2.4px solid black;
        border-radius: 20px;
        width: 400px;
        height: 20px;
        font-size: 20px;
        padding: 12px;
        margin: 11px;
        outline: none;
    }
    button{
        font-size: 20px;
        display: flex;
        width:65px;
        height:30px;
        margin:2px;
        border-radius: 0.35em;
    }
}
/* @media (min-width:800px) 
{
    body
    {
        background-color: rgb(23, 223, 23);
    }
} */